<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>TelemedicineRestAPI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addPatientIdServlet</display-name>
    <servlet-name>addPatientIdServlet</servlet-name>
    <servlet-class>servlets.addPatientIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addPatientIdServlet</servlet-name>
    <url-pattern>/addPatientIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addDoctorAutentificationServlet</display-name>
    <servlet-name>addDoctorAutentificationServlet</servlet-name>
    <servlet-class>servlets.addDoctorAutentificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addDoctorAutentificationServlet</servlet-name>
    <url-pattern>/addDoctorAutentificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addPatientsToDoctorServlet</display-name>
    <servlet-name>addPatientsToDoctorServlet</servlet-name>
    <servlet-class>servlets.addPatientsToDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addPatientsToDoctorServlet</servlet-name>
    <url-pattern>/addPatientsToDoctorServlet</url-pattern>
  </servlet-mapping>
</web-app>