<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>TelemedicineRestAPI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddPatientsToDoctorServlet</display-name>
    <servlet-name>AddPatientsToDoctorServlet</servlet-name>
    <servlet-class>servlets.AddPatientsToDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPatientsToDoctorServlet</servlet-name>
    <url-pattern>/AddPatientsToDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDoctorIdentificationServlet</display-name>
    <servlet-name>AddDoctorIdentificationServlet</servlet-name>
    <servlet-class>servlets.AddDoctorIdentificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDoctorIdentificationServlet</servlet-name>
    <url-pattern>/AddDoctorIdentificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPatientIdServlet</display-name>
    <servlet-name>AddPatientIdServlet</servlet-name>
    <servlet-class>servlets.AddPatientIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPatientIdServlet</servlet-name>
    <url-pattern>/AddPatientIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPatientInformationServlet</display-name>
    <servlet-name>GetPatientInformationServlet</servlet-name>
    <servlet-class>servlets.GetPatientInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPatientInformationServlet</servlet-name>
    <url-pattern>/GetPatientInformationServlet</url-pattern>
  </servlet-mapping>
</web-app>